@media screen and (max-width:390px){
    /*スマホ  */
      .mainVisual{
        position: relative;
    }
    .slideInTitle {
        animation-name: slideinLeft;
        animation-duration: 3s;
        position: absolute;
        top: 0%;
        text-align: center;
    }


  
    .slideInPenguinAtelier {
        animation: slideinRight 3s;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 0%;
    }
  
    .slideInPenguinAtelier_blue {
      animation: slideinRightBlue 3s;
      text-align: center;
      position: absolute;
      top: 0%;
    }
  
    @keyframes slideinLeft {
      from {
        transform: translateX(-50%);
      }
      to {
        transform: translateX(0);
      }
    }
  
    @keyframes slideinRight {
        0% {
          opacity: 1;
          transform: translateX(50%);
        }
        90% {
          transform: translateX(0);
        }
        100%{
          opacity: 0;
        }
  
    }
    @keyframes slideinRightBlue {
      0% {
        opacity: 0;
        transform: translateX(50%);
      }
      90% {
        transform: translateX(0);
      }
      100%{
        opacity: 1;
      }
    }  
  }


  .scrollToHead{
    animation: scrollHeadAnimation 3s;
    animation-fill-mode: forwards;
  }
  @keyframes scrollHeadAnimation{
    0%{
      transform: translateX(0);
      transform: translateY(0);
      position: fixed;
    }
    100%{
      transform: translateX(50vw);
      position: fixed;   
    }
  }